@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar{
    justify-content: start;
    background-color: #fffb00;
    width: 100%;
    z-index: 20;
    
}

.navbar ul li{
    font-size: 1.5rem;
}
.loginsignup{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 3rem;
}
html{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    justify-content:center;
    display: flex;
    max-width: 100%;
    
}
.guidingHeading{
    font-size: 1.875rem;
}
.navbarItems{
    font-size: 1.25rem;
}
.container form h1{
    font-size: 2rem;
}
.container form input{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 3px solid black;
    width: 25rem;
}
.container form button{
    width: 7rem;
    border-radius: 5px;
    font-size: 1.5rem;
}
.selector{
    padding: 1rem 2rem;
    border: 2px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 0.5rem;
}
.selected{
    background-color: #fffb00;
}
.isinvalid{
    color: #000;
}
.selector:hover{
    background-color: #ff0000;
}
.form-control{
    border: 2px solid black;
    width: 30rem;
}
.ask-div{
    margin-top: 17rem;

}
.discussions{
    font-size: 4rem;
    position:absolute;
    top: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    margin-left: -4rem;
}
.discussioncard{
    height: 16rem;
    background-color: #CAF7E3;
    margin: 2rem;
    width: 70rem;
    border-radius: 1rem;
    padding: 1rem;
}
.discussioncard h1{
    z-index: 10;
    font-size: 2.25rem;
    font-weight: 600;
    margin-left: 8rem;

}
.discussioncard p{
    font-size: 1.49rem;
    margin-left: 8rem;
    max-width: 60rem;
    margin-top: 1rem;
    position: absolute;
    overflow-wrap: break-word;
    font-weight: 500;
}
.discussioncard div{
    margin-top: 8rem;
}
.discussioncard div .likes{
    margin-left: 2rem;
}
.discussioncard div .anslength{
    margin-left: 15rem;
}
.discussioncard img{
    z-index: 10;
    height: 7rem;
    border-radius: 100%;
    position: absolute;
}
.likes img{
    height: 1rem;
    display: inline;
    position: relative;
    left: -4px;
    top: -1px;
}
.homepageask{
    border: 2px solid black;
    display: block;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 0rem 1rem ;
}
.guidinghometext{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.homeabout{
    background-color: #C1FFD7;
    text-align: center;
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
}

.homeabout h1{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
}
.homeabout h2{
    font-size: 1.3rem;
    font-weight: bold;
}
.footer{
    display: block;
    height: 3rem;
    width: 100%;
    text-align: center;
    background-color: #fffb00;
}
.footerbottom{
    position: absolute;
    bottom: 0;
}
.answercard{
    background-color: #f5f5f5;
    min-height: 9rem;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 3rem;
    margin-bottom: 3rem;

}
.answercard h1{
    font-size: 1.9rem;
    font-weight: 600;
}
.answercard p{
    font-size: 1.4rem;
    margin-left: 1rem;
}
.answerpage{
    margin-top: 7rem;
}